extends ./component/layout.pug
include ./component/table-of-content.pug 

block css
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/font_1197539_vgn2vpugpwq.css")
block body
    .app
        .main
            .left
                .wrap
                    include ./component/header.pug
                    +tableOfContent(tree, true)
            .center
                include ./component/search.pug
        .footer
    