extends ./component/layout.pug

block css
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel="stylesheet", href="//at.alicdn.com/t/font_1197539_vgn2vpugpwq.css")
block body
    .app
        include ./component/header.pug
        .main
