h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  padding: 60px 0 16px;
}

h2 {
  font-size: 24px;
  padding-top: 60px;
}


h3 {
  font-size: 18px;
}

h4 {
  margin: 4px 0
}


h2,
h3,
h4,
h5 {
  color: #1f2f3d;

  &:hover a {
    opacity: .4;
  }

  a {
    float: left;
    margin-left: -20px;
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: .4;
    }
  }
}

a {
  color: #409EFF;
  text-decoration: none;
}

code {
  &:not(.hljs) {
    background-color: #fdf5f9;
    padding: 0 4px;
    margin: 0 4px;
    border: 1px solid #ffeef7;
    border-radius: 4px;
  }
}

p,
li {
  line-height: 1.8em;
  letter-spacing: 0.8;
  overflow-wrap: break-words;
}

ul {
  margin: 24px 0;
}

blockquote {
  padding: 8px 16px;
  background-color: #f1fff5;
  border-radius: 4px;
  border-left: 5px solid #b1dbbb;
  margin: 40px 0;

  p {
    white-space: pre-wrap;
  }
}

img {
  width: 100%;
}

hr {
  margin: 16px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }
}