* {

    box-sizing: border-box;
    color: #333;
}

body {
    margin: 0;
    font-size: 12px;
}

.search {
    position: relative;

    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #dedede;
        outline: none;
        color: #888;
        padding: 0 8px;
        height: 34px;
        position: relative;
        z-index: 6;
        border-radius: 0;

        &:focus {
            border: 1px solid #333;
        }

    }

    .result {
        width: 100%;
        position: absolute;
        top: 30px;
        z-index: 4;
        background: white;
        border: 1px solid #dedede;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 0;

        a {
            display: block;
            width: 100%;
            padding: 6px 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-decoration: none;
            color: #888;
            font-size: 12px;

            b {
                color: #333
            }
        }

        &.active {
            max-height: 200px;
            top: 40px;
        }
    }
}

.contents {
    padding: 0 8px;

    .item {
        // font-weight: 300;
        user-select: none;
        margin: 8px 0;

        .name,
        .link {
            &.h {
                color: #333;
                font-weight: bold;
            }



            .iconfont {
                margin-right: 6px;
                color: #5e6d82
            }

            span {
                position: relative;
                z-index: -1;
            }

            a {
                text-decoration: none;
                color: #5e6d82;
                padding: 3px 0;
                position: relative;
                display: inline-block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:hover {
                    color: #333
                }

                &.active {
                    color: #333;
                    font-weight: bold;
                }
            }
        }


        .children {
            display: none;

            &.open {
                display: block;

                .item {
                    padding-left: 8px;
                    // border-left: 1px solid #ddd;
                    margin-left: 8px;
                }
            }
        }
    }
}

.header {
    display: none;
}


.main {
    // padding-top: 60px;
    position: relative;
    display: flex;
    z-index: 50;

    .center {
        min-height: 100vh;
        flex: 1 1 auto;
        margin: 0 auto;
        max-width: 1024px;
        padding: 8px 16px;
        position: relative;
        z-index: 51;
        background: white;
    }

    .wrap {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 8px;
        overflow: auto;
    }

    .left {
        // border-right: 1px solid #ededed;
        flex: 0 0 200px;
        position: relative;
        z-index: 50;
        border-right: 1px solid #efefef;

        .wrap {
            left: 0;
            width: 200px
        }

        .logo-wrap {
            .logo {
                font-size: 34px;
                font-family: fantasy;
                font-weight: bold;
                text-align: center;
                display: block;
                height: 100px;
            }
        }

        .search-wrap {
            margin: 24px 0 36px;
        }
    }

    .right {
        flex: 0 0 200px;
        position: relative;
        z-index: 50;
        border-left: 1px solid #efefef;

        .wrap {
            right: 0;
            width: 200px;
        }
    }
}

#toc {
    display: block;
    padding: 8px;

    li {
        list-style: none;
        padding: 4px 16px;


        a {
            color: #5e6d82;
        }

        transition: width 0.1s;
    }

    li.active {

        a {
            font-weight: bold;
            color: #333;
        }

    }

    position: fixed;
}

.footer {
    height: 200px;
    border-top: 1px solid #efefef;
    position: relative;
    width: 100%;
    z-index: 1000;
    background: white;
}

.mock-toc {
    display: none;
}


@media (max-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        height: 50px;
        width: 100%;
        background: white;
        position: fixed;
        z-index: 3000;
        top: 0;
        left: 0;
        border-bottom: 1px solid #eee;
        transition: left 0.3s;


        .header-right {

            flex: 1 1 auto;

            .search-wrap {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                input {
                    border: none;
                }
            }
        }

        .header-left {
            flex: 0 0 120px;
            margin-top: 5px;

            a {
                font-weight: bold;
                text-decoration: none;
                font-family: fantasy;
                color: #333;
                font-size: 16px;
                margin-left: 16px;
            }

        }

    }

    .main {
        margin-top: 50px;
        display: block;

        .left,
        .right {
            display: none;
        }
    }

    .mock-toc {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4000;
        padding: 24px 0;
        background: rgba(255, 255, 255, 1);
        overflow-y: auto;
        text-align: center;

        .item {
            padding: 0 !important;
            margin: 0 !important
        }

        .name.h {
            padding: 8px 0 !important;
        }
    }

    .mock-toc.active {
        .icon-close {
            position: fixed;
            left: 0;
            top: 0;
            padding: 24px;
        }

        display: block;
    }
}