* {
    font-size: 12px;
    box-sizing: border-box;
    color: #333;
    box-sizing: border-box;
}

body {
    margin: 0;
}



.main {
    // padding-top: 60px;
    position: relative;
    display: flex;
    z-index: 50;

    .center {
        min-height: 100vh;
        flex: 1 1 auto;
        margin: 0 auto;
        max-width: 1024px;
        padding: 8px 16px;
        position: relative;
        z-index: 51;
        background: white;



    }

    .wrap {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 8px;
        overflow: auto;
    }

    .left {
        // border-right: 1px solid #ededed;
        flex: 0 0 200px;
        position: relative;
        z-index: 50;
        border-right: 1px solid #efefef;

        .wrap {
            left: 0;
            width: 200px
        }

        .header {
            height: 60px;
            width: 100%;
            background: white;
            // border-bottom: 1px solid #eee;
            transition: left 0.3s;

            i,
            a {
                line-height: 60px;
            }


            .iconfont {
                display: none;
            }

            .link {
                display: inline-block;
                color: #666;
                text-decoration: none;
                font-weight: 300;
                margin-left: 16px;
            }

            .header-left {

                a {
                    font-weight: bold;
                    text-decoration: none;
                    // line-height: 50px;
                    font-family: fantasy;
                    color: #333;
                    font-size: 24px;
                    margin-left: 8px;
                }

            }

        }

        .contents {
            padding: 0 8px;

            .item {
                // font-weight: 300;
                user-select: none;
                margin: 8px 0;

                .name,
                .link {
                    &.h {
                        color: #333;
                        font-weight: bold;
                    }



                    .iconfont {
                        margin-right: 6px;
                        color: #5e6d82
                    }

                    span {
                        z-index: -1;
                    }

                    a {
                        text-decoration: none;
                        color: #5e6d82;
                        padding: 3px 0;
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &:hover {
                            color: #333
                        }

                        &.active {
                            color: #333;
                            font-weight: bold;
                        }
                    }
                }


                .children {
                    display: none;

                    &.open {
                        display: block;

                        .item {
                            padding-left: 8px;
                            // border-left: 1px solid #ddd;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }

    .right {
        flex: 0 0 200px;
        position: relative;
        z-index: 50;
        border-left: 1px solid #efefef;

        .wrap {
            right: 0;
            width: 200px;
        }
    }
}

#toc {
    display: block;
    padding: 8px;

    li {
        list-style: none;
        padding: 4px 16px;


        a {
            color: #5e6d82;
        }

        transition: width 0.1s;
    }

    li.active {

        a {
            font-weight: bold;
            color: #333;
        }

    }

    position: fixed;
}

.footer {
    height: 200px;
    border-top: 1px solid #efefef;
    position: relative;
    width: 100%;
    z-index: 1000;
    background: white;
}


@media (max-width: 1024px) {
    .header {
        height: 50px;
        width: 100%;
        background: white;
        position: fixed;
        z-index: 30;
        top: 0;
        left: 0;
        border-bottom: 1px solid #eee;
        transition: left 0.3s;

        i,
        a {
            line-height: 50px;
        }

        .right {
            right: 16px;
            position: absolute;
        }

        .iconfont {
            display: inline-block;
        }

        .left {
            left: 16px;
            position: absolute;



            a {
                font-weight: bold;
                text-decoration: none;
                // line-height: 50px;
                font-family: fantasy;
                color: #333;
                font-size: 16px;
                margin-left: 16px;
            }

        }

    }

    .main {
        padding-top: 50px;

        .left,
        .right {
            display: none;
        }
    }
}