header.header
    .header-left
        i.iconfont.icon-menu
        a(href="/") Mini Book
    .header-right
        i.iconfont.icon-search
.mock-toc
    i.iconfont.icon-close
    +tableOfContent(tree, true)
script.
    window.addEventListener('load', ()=>{
        const mock = document.querySelector('.mock-toc')
        document.querySelector('.icon-menu').addEventListener('click', e => {
            mock.classList.add('active')
            document.body.style.overflow='hidden'
        })
        document.querySelector('.icon-close').addEventListener('click', e => {
            mock.classList.remove('active')
            document.body.style.overflow='auto'
        })
    })
        