<!DOCTYPE html>
html
  head
    title It`s me
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block meta
    block css
    block jstop
  body
    block body
  block jsbottom